#1.	Write a Python program to convert kilometers to miles?

In [1]:
kilometers = float(input("Enter distance in kilometers: "))

# Conversion factor
conv_factor = 0.621371

# Calculate miles
miles = kilometers * conv_factor

# Display the result
print(kilometers, "kilometers is equal to", miles, "miles.")

Enter distance in kilometers: 45
45.0 kilometers is equal to 27.961695 miles.

#2.	Write a Python program to convert Celsius to Fahrenheit?

In [2]:
celsius = float(input("Enter temperature in Celsius: "))

# Conversion formula
fahrenheit = (celsius * 1.8) + 32

# Display the result
print(celsius, "Celsius is equal to", fahrenheit, "Fahrenheit.")

Enter temperature in Celsius: 54
54.0 Celsius is equal to 129.2 Fahrenheit.

#3.	Write a Python program to display calendar

In [3]:
import calendar

# Prompt the user to enter the month and year
year = int(input("Enter the year: "))
month = int(input("Enter the month: "))

# Display the calendar
print(calendar.month(year, month))

Enter the year: 2023
Enter the month: 03
     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

#4.	Write a Python program to solve quadratic equation?

In [4]:
import cmath

a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

# Calculate the discriminant
d = (b**2) - (4*a*c)

# Find the two solutions
sol1 = (-b - cmath.sqrt(d)) / (2*a)
sol2 = (-b + cmath.sqrt(d)) / (2*a)

# Display the results
print("The solutions are {0} and {1}".format(sol1, sol2))

Enter coefficient a: 88
Enter coefficient b: 99
Enter coefficient c: 77
The solutions are (-0.5625-0.7473912964438374j) and (-0.5625+0.7473912964438374j)

#5.	Write a Python program to swap two variables without temp variable?

In [6]:
a = int(input("Enter the first variable: "))
b = int(input("Enter the second variable: "))

# Swap the values of a and b
a, b = b, a

# Display the results
print("After swapping, the first variable is", a, "and the second variable is", b)

Enter the first variable: 3
Enter the second variable: 7
After swapping, the first variable is 7 and the second variable is 3